html {
    font-size: 16px;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: clip;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #0c0c1d;
    color: white;
}


header {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-icon {
    padding-top: 3%;
    padding-left: 2%;
    display: flex;
    width: 10%;
    justify-content: space-between;
}


.fa-brands {
    cursor: pointer;
    font-size: 1.5rem;
}

.logo-box {
    padding: 1%;
    width: 15%;
    margin-left: 15%;
}

.logo {
    height: 100%;
    width: 100%;
}

.log {
    margin: 2% 0% 2% 2%;
    justify-content: space-around;
    width: 30%;
}

#search {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    padding: 2%;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}

input {
    color: white;
}

button,
input {
    font-size: 1.1rem;
}

.login {
    color: white;
    width: 20%;
    font-size: 1.3rem;
    padding: 1%;
    margin: 1%;
    border-radius: 50px;
    background-color: #0c0c1d;
    border: 2px solid white;
    cursor: pointer;
}

.login:hover {
    background-color: white;
    color: #0c0c1d;
}

.signup {
    cursor: pointer;
    color: white;
    width: 20%;
    font-size: 1.3rem;
    padding: 1%;
    margin: 1%;
    border-radius: 50px;
    background-color: rgb(87, 88, 255);
    border: 2px solid rgb(87, 88, 255);
}

.signup:hover {
    background-color: #0c0c1d;
}

.search-icon {
    margin-top: 3.5%;
}

nav {
    width: 100%;
    border-bottom: 1px solid grey;
}

.navbar {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.navbar ul {
    width: 100%;
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 4%;
    margin-right: 4%;
    cursor: pointer;
}

.navbar ul li:hover {
    text-decoration: underline 2px white;
    text-underline-offset: 5px;
}

.learn-more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: .8rem;
    font-weight: 600;
    padding: .7%;
    width: 100%;
    background-color: rgb(254, 51, 45);
    color: white;
}

.learn {
    opacity: 0.8;
    font-weight: 100;
    text-decoration: 1px underline white;
    font-size: 0.7rem;
    text-underline-offset: 2px;
}

a {
    text-decoration: none;
    color: white;
}

#pop-up:target {

    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.other-tab {
    padding: 2%;
    width: 40%;
    height: 40%;
    background-color: white;
    text-align: center;
}

.thank-you {
    text-align: center;
    width: 68%;
    margin: 0% 16%;
    color: #00001b;
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
}

.warn {
    color: #00001b;
    text-align: center;
    margin: 4% 0%;
    opacity: 0.8;
    width: 100%;
    font-size: 1.5rem;
}

.out {
    color: white;
    margin: 0% 31%;
    margin-bottom: 3%;
    padding: 2% 10%;
    font-size: 1.2rem;
    border-radius: 50px;
    background-color: rgb(87, 88, 255);
    border: 2px solid rgb(87, 88, 255);
}

.list-wi {
    width: 20%;
}

.go-back {
    text-decoration: 2px underline rgb(87, 88, 255);
    text-underline-offset: .1rem;
    color: rgb(87, 88, 255);
}

.go-back:hover {
    color: #00001b;
    text-decoration: 2px underline #00001b;

}

.out:hover {
    background-color: #00001b;
}

.footer {
    padding: 30px;
    margin: 4px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
    row-gap: 20px;
}

.footer-link a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-logo {
    grid-column: span 4;
}

.social-icons {
    grid-column: span 4;
    margin-bottom: 20px;
}

.social-icons i {
    margin: 0 10px;
    font-size: 1.5rem;
}

.footer-text {
    grid-column: span 4;
    font-size: 0.875rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    text-align: left;
    backdrop-filter: brightness(60%);
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/book-back.webp);
    background-size: cover;
    background-position: top;
    filter: brightness(80%);
    box-shadow: 0 0 300px 0 #10141b inset;

    z-index: -1;
}

.titling {
    position: relative;
    width: 35%;

    margin: .5% 15% 1% 20%;
    font-size: 4rem;
    font-family: "DM Serif Display", serif;
}
.white{
    color: black;
padding: 3% 30% 1% 30%;
    width: 100%;
    background-color: white;
}
.white-1{
    color: black;
padding: 0% 25% 2% 25%;
    width: 100%;
    background-color: white;
}
.big{
    margin-top: 15%;
    height: 13%;
    display: flex;
}
.font-big{
    width: 20%;
    font-family: "DM Serif Display", serif;
    color: rgb(87, 88, 255);
    font-size: 8rem;
    margin-right: 1%;
}
.re-con{
    line-height: 2rem;
    font-weight: 600;
    margin-top: 2%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.con{
    line-height: 2rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 8%;
}
.book{
    position: relative;
    top: 25%;
    left: 17%;
    border-radius: 10px;
    height: 100%;
    width: 20%;
}
.sub-title{
     font-family: "DM Serif Display", serif;
     color: gray;
     text-align: center;
     font-size: 2.5rem;
     margin-bottom: 6%;
}
.multi-book{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 10%;
}
.bks{
    height: 75%;
    width: 23%;
    border-radius: 2px;
    
}
.bksp{
    height: 85%;
    width: 100%;
    border-radius: 2px;
    
}
.bootom{
    width: 35%;
    height: 80%;
}
hr{
    margin-bottom: 8%;
}
.para{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    margin-top: 5%;
    padding: 4% 10%;
}
@media (max-width: 1440px){
    html{
        font-size: 12px;
    }
}
@media (max-width:1024px){
    .signup, .login{
        font-size: 1.24rem;
    }
    html{
        font-size: 10px
    }
    .titling{
        width: 50%;
    }
    .book{
        height: 80%;

    }
    .white{
        padding-left: 25%;
        padding-right: 25%;
    }
    .white-1{
        padding-left:20% ;
        padding-right: 20%;
    }
}

@media (max-width:768px){
    .signup, .login{
        font-size: 1.14rem;
    }
    html{
        font-size: 8px;
    }
    .titling{
        width: 50%;
    }
    .book{
        height: 60%;
        top: 5%;

    }
    .banner{
        height: 40%;
    }
    .white{
        padding-left: 20%;
        padding-right: 20%;
    }
    .white-1{
        padding-left:15% ;
        padding-right: 15%;
    }
}
@media (max-width:425px){
    .signup{
        font-size: .7rem;
    }
    .login{
font-size: .7rem;
    }
    html{
        font-size: 6px
    }
    .titling{
        width: 50%;
    }
    .book{
        height: 60%;
        top: 5%;

    }
    .banner{
        height: 40%;
    }
    .white{
        padding-left: 10%;
        padding-right: 10%;
    }
    .white-1{
        padding-left:15% ;
        padding-right: 15%;
    }
}
@media (max-width:320px){
    .signup{
        font-size: .5rem;
    }
    .login{
        font-size: .5rem;
    }
    html{
        font-size: 5px
    }
    .titling{
        width: 50%;
    }
    .book{
        height: 50%;
        top: 5%;

    }
    .banner{
        height: 30%;
    }
    .white{
        padding-left: 10%;
        padding-right: 10%;
    }
    .white-1{
        padding-left:15% ;
        padding-right: 15%;
    }
}