html {
    font-size: 16px;
    scrollbar-width: none;
}
button{
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: clip;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #0c0c1d;
    color: white;
}


header {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-icon {
    padding-top: 3%;
    padding-left: 2%;
    display: flex;
    width: 10%;
    justify-content: space-between;
}


.fa-brands {
    cursor: pointer;
    font-size: 1.5rem;
}

.logo-box {
    padding: 1%;
    width: 15%;
    margin-left: 15%;
}

.logo {
    height: 100%;
    width: 100%;
}

.log {
    margin: 2% 0% 2% 2%;
    justify-content: space-around;
    width: 30%;
}

#search {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    padding: 2%;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}
input{
    color: white;
}

button,
input {
    font-size: 1.1rem;
}

.login {
    color: white;
    width: 20%;
    padding: 1%;
    margin: 1%;
    border-radius: 50px;
    background-color: #0c0c1d;
    border: 2px solid white;
    cursor: pointer;
}

.login:hover {
    background-color: white;
    color: #0c0c1d;
}

.signup {
    cursor: pointer;
    color: white;
    width: 20%;
    padding: 1%;
    margin: 1%;
    border-radius: 50px;
    background-color: rgb(87, 88, 255);
    border: 2px solid rgb(87, 88, 255);
}

.signup:hover {
    background-color: #0c0c1d;
}

.search-icon {
    margin-top: 3.5%;
}

nav {
    width: 100%;
    border-bottom: 1px solid grey;
}

.navbar {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.navbar ul {
    width: 100%;
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 4%;
    margin-right: 4%;
    cursor: pointer;
}

.navbar ul li:hover {
    text-decoration: underline 2px white;
    text-underline-offset: 5px;
}

.learn-more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: .8rem;
    font-weight: 600;
    padding: .7%;
    width: 100%;
    background-color: rgb(254, 51, 45);
    color: white;
}

.learn {
    opacity: 0.8;
    font-weight: 100;
    text-decoration: 1px underline white;
    font-size: 0.7rem;
    text-underline-offset: 2px;
}

.image-shuffle {
    width: 100%;
    padding-bottom: 10%;
    background-image: url(../images/harry-boy.webp);
    background-size: cover;
    box-shadow: 25px 25px 50px 0 #0c0c1d inset, -25px -25px 23px 0 #0c0c1d inset;
    animation: changebg 50s ease-in 0s infinite;
}

@keyframes changebg {
    0% {
        background-image: url(../images/harry-boy.webp);
    }

    20% {
        background-image: url(../images/harry-boy1.avif);
    }

    40% {
        background-image: url(../images/harry-boy2.webp);
    }

    60% {
        background-image: url(../images/harry-boy3.jpg);
    }

    80% {
        background-image: url(../images/harry-boy4.jpg);
    }
}

.happy-birth-text {
    margin-top: 3%;
    font-size: 1.2rem;
    opacity: 0.9;
    width: 100%;
    text-align: center;
    font-weight: 100;
}

.explore {
    text-align: center;
    margin-top: 5%;
    border-radius: 50px;
    
    padding: 1rem;
    width: 40%;
    border: 2px solid rgb(87, 88, 255);
    
    background-color: rgb(87, 88, 255);
}
.hide{
    color: white;
    font-weight: 600;
    background-color: transparent;
    border: none;
}

.explore:hover {
    background-color: #0c0c1d;
    cursor: pointer;
}

.sort-btn {
    border-radius: 50px;
    font-weight: 600;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 2px solid rgb(87, 88, 255);
    background-color: rgb(87, 88, 255);
    color: white;
}

.cart {
    font-size: .9rem;
    border-radius: 50px;
    font-weight: 600;
    padding: .5rem 1rem;
    border: 2px solid rgb(87, 88, 255);
    background-color: rgb(87, 88, 255);
    color: white;
}

.sort-btn:hover {
    background-color: #0c0c1d;
    cursor: pointer;
}

.cart:hover {
    background-color: #0c0c1d;
    cursor: pointer;
}

.text-div {
    margin-left: 30%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}
.happy{
    width: 100%;
}

.poll {
    padding-bottom: 0%;

    width: 100%;
    background-image: url(../images/stars.png), linear-gradient(#15111D, #2d2f4c);

}

.question {
    padding-top: 6%;
    display: flex;
    margin: 0% 15% 4.6% 15%;
    width: 70%;
}

.common {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 6%;
    width: 46%;
}

.specific {
    width: 50%;
}

.ques {
    cursor: pointer;
    border-radius: 20px;
    background-color: #00001b;
}

.ques:hover {
    filter: brightness(120%);
    transform: scale(1.2);
    transition: 1s;
}

.village {
    display: flex;
    width: 100%;
    
}

.ques-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 50%;
    box-shadow: 0px 0px 50px 0px inset;
}

.ques-head {
    text-transform: uppercase;
    margin-left: 5%;
    font-size: 1rem;
    text-align: center;
    border-radius: 50px;
    padding: 3%;
    padding-bottom: 2%;
    background-color: #0b163b;
}

.ques-con {
    font-size: 1.2rem;
    margin-left: 7%;
    margin-top: 10%;
}

.speci-con {
    width: 95%;
    height: 100%;
    margin-left: 5%;
    background-image: url(../images/double-line-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5% 12% 5% 12%;
}

.margin-poll {
    margin: 5%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 1.9rem;
    font-family: "DM Serif Display", serif;
}

.side-poll {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.poll-name {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1rem;
}

.bar1 {
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(to right, white 0%, white 30%, black 30%, black 100%);
    height: 3%;
    margin: 2% 5% 5% 5%;
}

.bar2 {
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(to right, white 0%, white 44%, black 44%, black 100%);
    height: 3%;
    margin: 2% 5% 5% 5%;
}

.bar3 {
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(to right, white 0%, white 17%, black 17%, black 100%);
    height: 3%;
    margin: 2% 5% 5% 5%;
}
a{
    text-decoration: none;
    color: white;
}

.bar4 {
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(to right, white 0%, white 9%, black 9%, black 100%);
    height: 3%;
    margin: 2% 5% 5% 5%;
}

.poll-link {
    padding: 0% 10%;
    font-size: 1.1rem;
    text-decoration: 1px underline white;
    text-align: center;
}

.poll-link:hover {
    cursor: pointer;
    color: rgb(87, 88, 255);
    text-decoration: 1px underline rgb(87, 88, 255);
}
#pop-up:target{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
#pop-up{
    display: none;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.other-tab{
    padding: 2%;
    width: 40%;
    height: 40%;
    background-color: white;
    text-align: center;
}

.thank-you{
    text-align: center;
    width: 68%;
    margin: 0% 16%;
    color: #00001b;
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
}
.warn{
    color: #00001b;
    text-align: center;
    margin: 4% 0%;
    opacity: 0.8;
    width: 100%;
    font-size: 1.5rem;
}
.out{
    color: white;
    margin: 0% 31%;
    margin-bottom: 3%;
    padding: 2% 10%;
    font-size: 1.2rem;
    border-radius: 50px;
    background-color: rgb(87, 88, 255);
    border: 2px solid rgb(87, 88, 255);
}
.list-wi{
    width: 20%;
}
.go-back{
    text-decoration: 2px underline rgb(87, 88, 255);
    text-underline-offset: .1rem;
    color: rgb(87, 88, 255);
}
.go-back:hover{
    color: #00001b;
    text-decoration: 2px underline #00001b;
    
}
.out:hover{
    background-color: #00001b;
}

.sorted {
    margin-top: .1%;
    width: 100%;
    padding-top: 5%;
    background-image: url(../images/stars2.png), linear-gradient(180deg, #120b0e, #474083 121.35%);
    background-position: top;


}

.badge {
    filter: contrast(150%);
    width: 50%;
    margin-left: 10%;
}

.first-row {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-head {
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.train {
    display: flex;
    width: 100%;
}

.sort {
    width: 40%;
}

.quizz {
    padding: 2% 15% 0% 15%;
    width: 100%;
   
    background-image: url(../images/stars2.png), linear-gradient(180deg, #110b0e, #373737 121.35%);
    background-position: top;
}

.quizzes {
    cursor: text;
    height: 100%;
    margin: 5% 0%;
    width: 50%;
    filter: contrast(150%);
}

.qizz-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.qizz-2 {
    gap: 5%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    width: 100%;
    height: 50%;
    margin-top: 2%;
}

.quiz-img {
    cursor: pointer;
    text-align: center;
    background-image: url(../images/dobby.webp);
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px #00001b inset, 0px 0px 50px 0px #00001b;
    background-size: cover;
    background-position: center;
}

.quiz-img:hover {
    box-shadow: 0px 0px 10px 0px white;
    transform: scale(1.2);
    transition: 1s;
}

.quiz-img1 {
    cursor: pointer;
    text-align: center;
    background-image: url(../images/aunty.webp);
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px #00001b inset, 0px 0px 50px 0px #00001b;
    background-size: cover;
    background-position: center;
}

.quiz-img1:hover {
    box-shadow: 0px 0px 10px 0px white;
    transform: scale(1.2);
    transition: 1s;
}

.quiz-img2 {
    cursor: pointer;
    text-align: center;
    background-image: url(../images/study-boy.webp);
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px #00001b inset, 0px 0px 50px 0px #00001b;
    background-size: cover;
    background-position: center;
}

.quiz-img2:hover {
    box-shadow: 0px 0px 10px 0px white;
    transform: scale(1.2);
    transition: 1s;
}

.quiz-img-move {

    margin-top: 50%;
}

.quiz-img-head {
    font-size: 1.5rem;
    cursor: text;
    font-family: "DM Serif Display", serif;
}

.castle-hogwarts {
    display: flex;
    margin-top: 3%;
    width: 155%;
    margin-left: -30%;

}

.collage {
    display: flex;
    align-items: center;
    padding: 6% 20% 2% 20%;
    width: 100%;
    background: linear-gradient(180deg, #18150d, #000);
}

.group-img {
    width: 50%;
    margin-top: 4%;
}

.group-img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.half-collage {
    font-size: 1.3rem;
    text-align: center;
    width: 50%;
    font-family: "DM Serif Display", serif;
    height: 100%;
}
.heady{
    margin-bottom: 4%;
    font-size: 3rem;
    font-family: "DM Serif Display", serif;
    text-align: center;
}

.collage-con {
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    margin-top: 5%;
    opacity: 0.8;
}

.try-btn {
    color: white;
    padding: 2%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 600;
    border-radius: 50px;
    background-color: #0c0c1d;
    border: 2px solid white;
    cursor: pointer;
}

.try-btn:hover {
    background-color: white;
    color: black;
}

.small-boy {
    background: linear-gradient(180deg, #18150d, #000);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 15% 3% 15%;
}

.small-harry {
    width: 45%;
    margin-top: 2%;
    
}

.small-harry:hover {
    filter: brightness(120%);
}

.small-head {
    padding-top: 3%;
    width: 54%;
    
    font-family: "DM Serif Display", serif;
    font-size: 1.4rem;
    text-align: center;
}

.small-con {
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
    margin-top: 5%;
    opacity: 0.8;
}

.store {
    text-align: center;
    padding-top: 5%;
    width: 100%;

    background-image: url(../images/stars2.png), linear-gradient(180deg, #18150e, #554936 121.35%);
    background-size: cover;
    background-position: top;
}
.arrow-size{
    width: 100%;
}
.right{
    width: 100%;
    rotate: 180deg;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside-write{
    position: relative;
    bottom: 20%;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: "DM Serif Display", serif;
}

.things {
    width: 90%;
    display: grid;
    margin: 3% 5%;
    height: 60%;
    grid-template-columns:1fr 5fr 5fr 5fr 5fr 5fr 1fr;
    gap: 2%;
}

.shop-des {
    opacity: 0.8;
    letter-spacing: .07rem;
}

.item-size {
    width: 100%;
    height: 60%;
}
.item-size:hover{
    transform: scale(1.2);
    transition: 1s;
}

.item-size1 {
    width: 100%;
    height: 60%;
}
.item-size1:hover{
    transform: scale(1.2);
    transition: 1s;
}

.item-size2 {

    width: 100%;
    height: 60%;
}
.item-size2:hover{
    transform: scale(1.2);
    transition: 1s;
}

.item-size3 {

    width: 100%;
    height: 60%;
}
.item-size3:hover{
    transform: scale(1.2);
    transition: 1s;
}

.item-size4 {

    width: 100%;
    height: 60%;
}
.item-size4:hover{
    transform: scale(1.2);
    transition: 1s;
}

.price {
    width: 100%;
    margin: 0% 0%;
    height: 40%;
    background-color: #00001b;
}

.item {
    background-color: #00001b;
    filter: contrast(110%);
}

.item-cost {
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 7%;
    opacity: 0.9;
}

.item-cost1 {
    padding: 5%;
    padding-top: 6%;
    padding-bottom: 7%;
    opacity: 0.9;
}

.item-name {
    padding: 10%;
    opacity: 0.9;
}

.factory {
    width: 100%;
    display: flex;
}

.footer {
    padding: 30px;
    margin:4px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
    row-gap: 20px;
}

.footer-link a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-logo {
    grid-column: span 4;
}

.social-icons {
    grid-column: span 4;
    margin-bottom: 20px;
}

.social-icons i {
    margin: 0 10px;
    font-size: 1.5rem;
}

.footer-text {
    grid-column: span 4;
    font-size: 0.875rem;
    line-height: 1.5;
}
.shop-title{
    width: 100%;
    margin-bottom: 2%;
    margin-top: .3%;
    cursor: text;
}

.switch-card {
    text-align: center;
    width: 100%;
    background-image: url(../images/stars.png), linear-gradient(180deg, #0e0812, #443455 121.35%);
}
.magical-picks {
    text-align: center;
    width: 100%;
    
    background-image: url(../images/stars.png), linear-gradient(180deg, #0f0f11, #3f5468 121.35%);

}
.disc-img{
    border-radius: 10px;
    width: 100%;
    height: 100%;

}
a{
    width: auto;
    padding: 1%;
    cursor: pointer;
}
.discover{
    width: 100%;
    cursor: text;
    padding-top: 3%;
}
.world-1{
    width: 100%;
    height: 100%;
}
.world{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 5fr 5fr 5fr 1fr;
    height: 50%;
    margin: 3% 10%;
    gap: 1%;
    padding-bottom: 4%;
    width: 80%;
}
.arrow-size1{
    width: 50%;
}
.disc-img:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: 1s;
    filter: brightness(120%);
}
.right1{
    width: 50%;
    rotate: 180deg;
}
.clock-tower{
    width: 100%;
    display: flex;
}
.common, .quiz-img, .group-img, .small-head{
    animation: l-to-r 3s ease-in;
    animation-timeline: view();
    animation-range: entry 5% cover 40%
}
.specific, .quiz-img2, .half-collage, .small-harry{
    animation: r-to-l 3s ease-in;
    animation-timeline: view();
    animation-range: entry 5% cover 40%
}
.quiz-img1, .first-row, .things, .world{
    animation: b-to-t 3s ease-in;
    animation-timeline: view();
    animation-range: entry 5% cover 40%
}
@keyframes b-to-t{
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes l-to-r{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes r-to-l{
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@media (max-width:1440px){
    html{
        font-size: 12px;
    }
    
}
@media (max-width:1024px){
    html{
        font-size: 8px;
        overflow-x: clip;
    }
    
}
@media (max-width:768px){
    html{
        font-size: 6px;
        overflow-x: hidden;
    }
    
}
@media (max-width:425px){
    html{
        font-size: 3px;
    }
    .ques{
        border-radius: 5px;
    }
    .ques-image{
            border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
    .poll, .sorted, .quizz, .collage, .small-boy, .store, .switch-card, .magical-picks{
        padding-top:8%;
    }
    .quiz-img, .quiz-img1, .quiz-img2{
        border-radius: 5px;
    }
    .first-row, .qizz-2, .half-collage, .small-head, .world{
        padding-bottom: 10%;
    }
    .margin-poll{
        font-size: 1.6rem;
    }
    
}