* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body {
    color: white;
     font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: clip;
}
.back {
    background-image: url(../images/login-background.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.form {
    text-align: center;
    width: 40%;
}

.logo {
    width: 50%;
    margin: 10%;
    margin-bottom: 5%;
}
.login-text{
    width: 100%;
    display:flex;
    text-align: center;
}
span{
    margin: 0% 20%;
    font-size: 3rem;
    font-family: "DM Serif Display", serif;
    width:60%;
    font-weight: 600;
}
h1{
  font-family: "DM Serif Display", serif;
  width: 78%;
  margin: 5% 11%;
   font-size: 1.65rem;
  margin-bottom: 12%;
  text-underline-offset: 2%;
  opacity: 0.9;
  text-align: center;  
}
form{
    width: 60%;
    margin: 5% 21%;
    margin-top: 7%;
       margin-bottom: 0%;
    text-align: left;
}

label{
    opacity: 0.8;
    font-variant: small-caps;
    font-weight: 900;
    font-size: 1rem;
}
input{
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 10%;
    padding: 4%;
    background-color: #161922;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.login-btn{
    cursor: pointer;
    width: 60%;
    padding: 3% 1%;
    margin-bottom: 10%;
    margin: 0% 21%;
    border-radius: 50px;
   color:white;
    background-color: #5758ff;
    border: 2px solid #5758ff;
}
.login-btn:hover{
    background-color: rgb(11, 22, 59);
}
@media (max-width:1440px){
    .form{
          
        width: 54%;
    }
   
}
@media (max-width:1024px){
    .form{
        width: 76%;
    }
}
@media (max-width:768px){
   
    .form{
        width: 95%;
    }
}
@media (max-width:425px){
    html{
        font-size: 8px;
    }
}
@media (max-width:375px){
    html{
        font-size: 7px;
    }
}
@media (max-width:320px){
    html{
        font-size: 5px;
    }
}