html {
    font-size: 16px;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: clip;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #0c0c1d;
    color: white;
}


header {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-icon {
    padding-top: 3%;
    padding-left: 2%;
    display: flex;
    width: 10%;
    justify-content: space-between;
}


.fa-brands {
    cursor: pointer;
    font-size: 1.5rem;
}

.logo-box {
    padding: 1%;
    width: 15%;
    margin-left: 15%;
}

.logo {
    height: 100%;
    width: 100%;
}

.log {
    margin: 2% 0% 2% 2%;
    justify-content: space-around;
    width: 30%;
}

#search {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    padding: 2%;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}
input{
    color: white;
}

button,
input {
    font-size: 1.1rem;
}

.login {
    color: white;
    width: 20%;
    padding: 1%;
    margin: 1%;
    border-radius: 50px;
    background-color: #0c0c1d;
    border: 2px solid white;
    cursor: pointer;
}

.login:hover {
    background-color: white;
    color: #0c0c1d;
}

.signup {
    cursor: pointer;
    color: white;
    width: 20%;
    padding: 1%;
    margin: 1%;
    border-radius: 50px;
    background-color: rgb(87, 88, 255);
    border: 2px solid rgb(87, 88, 255);
}

.signup:hover {
    background-color: #0c0c1d;
}

.search-icon {
    margin-top: 3.5%;
}

nav {
    width: 100%;
    border-bottom: 1px solid grey;
}

.navbar {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.navbar ul {
    width: 100%;
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 4%;
    margin-right: 4%;
    cursor: pointer;
}

.navbar ul li:hover {
    text-decoration: underline 2px white;
    text-underline-offset: 5px;
}
.learn-more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: .8rem;
    font-weight: 600;
    padding: .7%;
    width: 100%;
    background-color: rgb(254, 51, 45);
    color: white;
}

.learn {
    opacity: 0.8;
    font-weight: 100;
    text-decoration: 1px underline white;
    font-size: 0.7rem;
    text-underline-offset: 2px;
}
a{
    text-decoration: none;
    color: white;
}
#pop-up:target{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
#pop-up{
    display: none;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.other-tab{
    padding: 2%;
    width: 40%;
    height: 40%;
    background-color: white;
    text-align: center;
}


.warn{
    color: #00001b;
    text-align: center;
    margin: 4% 0%;
    opacity: 0.8;
    width: 100%;
    font-size: 1.5rem;
}
.out{
    color: white;
    margin: 0% 31%;
    margin-bottom: 3%;
    padding: 2% 10%;
    font-size: 1.2rem;
    border-radius: 50px;
    background-color: rgb(87, 88, 255);
    border: 2px solid rgb(87, 88, 255);
}
.list-wi{
    width: 20%;
}
.go-back{
    text-decoration: 2px underline rgb(87, 88, 255);
    text-underline-offset: .1rem;
    color: rgb(87, 88, 255);
}
.go-back:hover{
    color: #00001b;
    text-decoration: 2px underline #00001b;
    
}
.out:hover{
    background-color: #00001b;
}
.white{
    width: 100%;
    height: 70%;
    background-color: white;
    padding: 5% 20%;
    padding-top: 0%;
}
h1{
    font-size: 2.5rem;
    font-family: "DM Serif Display", serif;
    text-align: center;
    padding: 2% 0%;
    color: black;
}
.start{
    display: flex;
    padding: 2%;
    height: 90%;
    width: 100%;
    background-image: url(../images/quiz-start.jpg);
    background-size: cover;
    background-position: center;
}
.book-boy{
    margin: 6%;
    background-image: url(../images/boy-with-book.webp);
    filter: contrast(102%);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 71%;
    border: 5px solid rgb(87, 88, 255);
    width: 38%;
}
.content{
    margin: 0% 5%;
    width: 90%;
    letter-spacing: .1rem;
    line-height: 1.7rem;
    font-size: 1.1rem;
    opacity: 0.9;
}
.date{
    opacity: 0.8;
    margin: 7% 0%;
}
.quiz-details{
    text-align: center;
    width: 57%;
    height: 100%;
}
.start-quizz{
    cursor: pointer;
    border-radius: 50px;
    padding: 2% 10%;
    background-color: rgb(87, 88, 255);
    color: white;
    border: 2px solid rgb(87, 88, 255);
}
.start-quizz:hover{
    background-color: #00001b;
}
.level{
    opacity: 0.9;
    margin: 5% 0%;
}
h2{
    font-size: 2rem;
    margin-bottom: 9%;
}
.footer {
    padding: 30px;
    margin:4px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
    row-gap: 20px;
}

.footer-link a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-logo {
    grid-column: span 4;
}

.social-icons {
    grid-column: span 4;
    margin-bottom: 20px;
}

.social-icons i {
    margin: 0 10px;
    font-size: 1.5rem;
}

.footer-text {
    grid-column: span 4;
    font-size: 0.875rem;
    line-height: 1.5;
}
.book-boy{
    animation: l-to-r 1.5s ease-in;
   
}
.quiz-details{
    animation: r-to-l 1.5s ease-in;
}
.start{
    animation: b-to-t 1.5s ease-in;
   
}
@keyframes b-to-t{
    from{
        transform: translateY(-200px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes l-to-r{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes r-to-l{
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}