* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
}
body {
    color: white;
     font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}
.back {
    background-image: url(../images/login-background.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.form {
    text-align: center;
    width: 40%;
}

.logo {
    width: 50%;
    margin: 10%;
    margin-bottom: 5%;
}
.login-text{
    width: 100%;
    display:flex;
    text-align: center;
}
span{
    margin: 0% 25%;
    font-size: 3rem;
    font-family: "DM Serif Display", serif;
    width:50%;
    font-weight: 600;
}
h1{
  font-family: "DM Serif Display", serif;
  width: 62%;
  margin: 5% 21%;
  opacity: 0.9;
  text-align: left;  
}
p{
    width: 62%;
    margin: 0% 21%;
    text-align: left;
    font-size: 1.2rem;
    opacity: 0.5;
}
form{
    width: 60%;
    margin: 5% 21%;
    margin-top: 7%;
    margin-bottom: 0%;
    text-align: left;
}
.atag{
    text-decoration: none;
}
label{
    opacity: 0.8;
    font-variant: small-caps;
    font-weight: 900;
    font-size: 1rem;
}
input{
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 10%;
    padding: 4%;
    background-color: #161922;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.login-btn{
    cursor: pointer;
    width: 60%;
    padding: 3% 1%;
    margin: 0% 21%;
    margin-bottom: 10%;
    border-radius: 50px;
   color:white;
    background-color: #5758ff;
    border: 2px solid #5758ff;
}
.login-btn:hover{
    background-color: rgb(11, 22, 59);
}
@media (max-width:1440px){
    .form{
        width:53%;
    }
}
@media (max-width:1024px){
    .form{
        width: 74%;
    }
}
@media (max-width:768px){
    .form{
        width: 100%;
    }
}
@media (max-width:425px){
    html{
        font-size: 12px;
    }
    span{
        margin: 0% 16%;
        width: 67%;
    }
}
@media (max-width:375px){
    html{
        font-size: 10px;
    }
}
@media (max-width:320px){
    html{
        font-size: 8px;
    }
}