* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scrollbar-width: none;
    font-size:16px;
}

body {
    overflow-x: clip;
    color: white;
     font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

.back {
    background-image: url(../images/login-background.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: center;
}

.form {
    text-align: center;
    width: 40%;
}

.logo {
    width: 50%;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.login-text{
    width: 100%;
    display:flex;
    text-align: center;
}
span{
    margin: 0% 35%;
    font-size: 2.5rem;
    font-family: "DM Serif Display", serif;
    width:30%;
}
.middleall{
    width: 60%;
    margin: 5% 20%;
    margin-top: 5%;
    text-align: left;
}
label{
    font-variant: small-caps;
    font-weight: 900;
    font-size: 1rem;
}
#password{
    margin-bottom: 2%;
}
p{
    opacity: 0.8;
    text-align: left;
   
    margin: 4%;
    margin-right: 18%;
     margin-left: 20%;
}

.login-btn{
    width: 100%;
    padding: 3% 2%;
    border-radius: 50px;
   color:white;
    background-color: #5758ff;
    border: 2px solid #5758ff;
    margin-bottom: 10%;
       margin-top: 8%;
}
.login-btn:hover{
    background-color: rgb(11, 22, 59);
    cursor: pointer;
}
.signup{
    width: 100%;
    padding: 3% 2%;
    margin: 1%;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.flag{
    width: 30%;
    margin-right: 2%;
    margin-left: 3%;
}
.flag:hover{
    transform: scale(1.1);
    transition: 1s;
}
.flag1{
    width: 30%;
    margin-right: 2%;
}
.flag1:hover{
    transform: scale(1.1);
    transition: 1s;
}
.signup:hover{
    cursor:pointer;
    background-color: white;
    color: black;
}
hr{
    margin-bottom: 10%;
    opacity: 0.5;
}
a{
    color: white;
    text-decoration: 1px underline white;
}
a:hover{
    text-decoration: 1px underline #5758ff;
    color: #5758ff;
}
h1{
    text-align: center;
    font-family: "DM Serif Display", serif;
    margin-bottom: 6%;
}
input{
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 10%;
    padding: 4%;
    background-color: #161922;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.twoinput{
    margin-top: 10%;
    width: 100%;
    display: flex;
}
.input-1{
    width: 48%;
    margin-right: 2%;
}
.input-2{
    width: 48%;
    margin-left: 2%;
}
.length{
     height: 65%;
}
@media (max-width:768px){
    .form{
        width: 80%;
    }
}
@media (max-width:425px){
    html{
        font-size: 14px;
    }
    span{
        margin: 0% 26%;
        width: 47%;
    }
}
@media (max-width:375px){
    html{
        font-size: 10px;
    }
}
