*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scrollbar-width:none;
}
body{
    color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: clip;
    background-color: #faf6f0;
}
.profile-card{
    display: flex;
    background-image: url(Profileback.webp);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 73.7%;
    padding: 8%;
    background-position: center;
}
.myself{
    width: 70%;
    height: 100%;
}
.my-img{
    border-radius: 20px;
    width: 30%;
    height: 100%;
}
.my-img:hover{
    filter: brightness(120%);
}
.photo{
    border-radius: 20px;
    width: 100%;
    height: 90%;
}
button{
    cursor: pointer;
    padding: 2% 6%;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
    margin: 0% 32.7%;
}
button:hover{
    background-color: white;
    color: black;
}
p{
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    text-align: center;
  line-height: 1.5em;
  box-sizing: border-box;
margin: 1% 19% 5.5% 11%;
    color: white;
    width: 70%;
}
.logo{
    background:linear-gradient(to bottom, white, black);
    color: transparent;
    -webkit-background-clip: text;
    text-decoration: 2px underline white;
    text-underline-offset: 9px;
    height: 25%;
    width: 48%;
    font-size: 4rem;
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 3%;
}
.container{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 3%;
    height: 70%;
}
.box{
    border-radius: 10px;
    padding: 1%;
    width: 30%;
    height: 100%;
    background-color: #242633;
}
.box:hover{
    transform: scale(1.1);
    cursor: default;
    transition: 1s;
    filter: brightness(150%) contrast(120%);
}
.content{
    padding: 5%;
    width: 100%;
    height: 100%;
    border: 2px solid white;
}
h1{
    text-align: center;
    font-size: 2.9rem;
    margin: 2% 0%;
    margin-bottom: 22%;
}
span{
    text-decoration: 2px underline white;
    text-underline-offset: .8rem;
}
ul{
    margin-left: 5%;
    font-size: 2rem;
}
li{
    font-family: Arial, sans-serif;
    margin-top: 10%;
}

@font-face{
    font-family: customfont;
    src: url("WizardWorldSimplified.ttf") format("ttf");
}